<% include login_header.ejs %>
	<% include login_menu.ejs %>
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading"><%=: title %></div>
			<div class="panel-body">
                <%=: err_msg %>
			</div>
			<div class="panel-footer">提示:......</div>
		</div>
	</div>
<% include footer.ejs %>