

<div class="container-fluid" id="foot" class="bg-danger">
    <div class="row">
        <div class="col-md-4">
            <%
                var about_us = {
                    "english":"About Us",
                    "chinese":"关于我们"
                };
            %><%= about_us[language] %>
        </div>
        <div class="col-md-4">
            <%
                var help = {
                    "english":"Help",
                    "chinese":"帮助详细说明"
                };
            %><%= help[language] %></div>
        <div class="col-md-4"><a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=a9c1281cc69ea99eb7ef9f911a991bfdc3703726d69a8e14fc73a49f1e1f0299"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="EditRobot" title="EditRobot"></a></div>
    </div>
    <p style="margin-bottom:0px;text-align:center;">copy right @</p>
</div>
</body>
</html>