<% include header.ejs %>
<% include page_header.ejs %>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <%-: page_title %><hr/>
                <%-: contents %>
            </div>
        </div>
    </div>
<% include footer.ejs %>